<h2 class="lead">Located in {{#link-to 'city' rental.city.id}}{{rental.city.name}}{{/link-to}}, this {{rental.bedrooms}} bedroom {{rental.type}} is available by arrangement through {{rental.owner}} for ${{rental.cost}} per night.</h2>
<br>
<p><img src={{rental.image}} alt={{rental.type}}></p>
<button {{action 'delete' rental}} class="btn btn-danger btn-xs">Delete</button>
